{% extends 'basic.html' %}
{% block title%}Authentication{% endblock%}

{% block link %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
{%endblock%}

{% block body %}
{% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
    </div>
    {% endfor %}
    
    <div class="container">
    <div class="navbar">
            {% load static %}
        <button type="submit" ><a href="/signup" style="color:rgb(177, 70, 31)"><img src="{% static 'sign-up.png' %}" width="30px" height="30px"/></a></button>
      {% load static %}
       <button type="submit"><a href="/signin" style="color:rgb(177, 70, 31)"><img src="{% static 'log-in.png' %}" width="30px" height="30px"/></a></button>
    </div>
    <div class="content">
        <small>welcome to our</small>
        <h1>Postman Website</h1>
        </div>
    </div>
    <div class="bubble">
            {% load static %}
        <img src="{% static 'bubble.png' %}">
        {% load static %}
        <img src="{% static 'bubble.png' %}">
            {% load static %}
        <img src="{% static 'bubble.png' %}">
            {% load static %}
        <img src="{% static 'bubble.png' %}">
            {% load static %}
        <img src="{% static 'bubble.png' %}">
            {% load static %}
        <img src="{% static 'bubble.png' %}">
    </div>
    </div>
{%endblock%}
