{% extends 'basic.html' %}
{% load socialaccount %}

{% block title%}Sign In{% endblock%}

{% block link %}
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300;400&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<!-- Change was made here -->
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <script src="bootstrap/scripts/jquery.min.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
<!--{% load static %}-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'FOOTER.css' %}">-->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Dlog_Signin.css' %}">
{%endblock%}

{% block body %}
<div class="container">
    <!-- First half starts -->
        <!-- Change was made here -->
        <script>
        {% for message in messages %}
            alert("{{message}}");
        {% endfor %}
        </script>


    <div class="div1">
        <div id="logo">
            <a href="/">
                {% load static %}
        <img src="{% static 'lotus.webp' %}" alt="Dlog.in logo"> 
            </a>
        </div>
        <!-- Form starts -->
        <div class="div-form">
            <form action="/signin" method="post" class="sign-in-form">
                {% csrf_token %}
                <p>Please login to your account</p>

                <div class="form-group">
                    <label class="form-label" for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control"
                        placeholder="Enter your Username" required>
                </div>

                <div class="form-group">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control"
                        placeholder="Enter your Password" required>
                </div>
                    <br>
                <div class="login">
                    <button class="log-in-btn gradient-custom-2" type="submit">Log in</button>
                    <a href="{% url 'reset_password' %}" id="fp">Forgot password?</a>
                </div>
                <div class="create-account">
                        <p>Don't have an account?</p>
                        <button type="submit" class="btn1"><a href="/signup">Create new</a></button>
                        <p id="create-p-space">---Or---</p>
                    {%load static%}
                        <button type="submit" class="btn2"><a href="{%provider_login_url 'google' %}">Signup with <img src="{% static 'google.png' %}"> </img> </a></button>
                </div>

            </form>
            <!-- Form ends here -->
        </div>

    </div>
    <!-- First half ends -->
    <!-- Second half starts -->
    <div class="div2 gradient-custom-2">
            <div class="content">
                <h1>The complete Login and Registration Experience!</h1>
                <p>Enhance how you register new customers and authenticate existing customers to your applications and services</p>
                <p>We use Django in the backend, which comes with robust security and scalability features.</p>
                <p>Click <a href="/about">here</a>, to know more!</p>
            </div>
        </div>
    <!-- Second half ends -->
</div>
<footer>
        <div class="row">
            <div class="col">
                <div class="zoom">
                     {% load static %}
                     <img class="logo" src="{% static 'lotus.webp' %}" alt="Dlog.in logo">
                </div>
                <p>Where users are our highest priority.</p>

            </div>
            <div class="col">
                <h3>Office <div class="underline"></div>
                </h3>
                <p>Bock 1</p>
                <p>Chandigarh University</p>
                <p>Chandigarh</p>
                <p class="email-id">Lotus@gmail.com</p>
            </div>
            <div class="col">
                <h3>Links <div class="underline"></div>
                </h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/contact">Contact</a></li>
<!--                    <li><a href="">Terms and condition</a></li>-->

                </ul>
            </div>
            <div class="col">
                <h3>Social links <div class="underline"></div>
                </h3>
                <div class="social-icons">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-whatsapp"></i>
                    <i class="fa fa-instagram"></i>

                </div>
            </div>

        </div>
        <hr>
        <p class="copyright">Copyright © 2022, All Right Reserved with LOTUS GROUP</p>
    </footer>
{% endblock %}