{% extends 'basic.html' %}
{% block title%}Register Now!{% endblock%}
{% block link%}
 <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
{% load static %}
    <link rel="stylesheet" href="{% static 'register.css' %}">
{% endblock%}
{% block body %}

    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
    </div>
    {% endfor %}
<div class="outer-container">
        <div class="container">
            <div class="box1">
                {% load static %}
                <img id="logo" src="{% static 'lotus.webp' %}" alt="Lotus">
            </div>
            <div class="box2">
                <h2>REGISTER</h2>
                <p>ITS COMPLETELY FREE!</p>
                <form action="/signup" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="form-label" for="usrnm">Username</label>
                        <input type="text" id="usrnm" name="username" placeholder="Create a username" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="f-name">First Name</label>
                        <input type="text" id="f-name" name="fname"placeholder="First name" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="l-name">Last Name</label>
                        <input type="text" id="l-name" name="lname" placeholder="Last name" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="mail">Email Address</label>
                        <input type="email" id="mail" name="email" placeholder="Email address" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="pswrd">Password</label>
                        <input type="password" id="pswrd" name="password" placeholder="Enter your password" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="re-pswrd">Confirm password</label>
                        <input type="password" id="re-pswrd" name="cpassword" placeholder="Re-enter your password" />
                    </div>
                    <div class="form-label-btn">
                        <div class="form-group">
                            <button type="submit" class="btn">CREATE ACCOUNT</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--    <h3>Sign Up</h3>-->
<!--    <form action="/signup" method="post" enctype="multipart/form-data">-->
<!--        {% csrf_token %}-->
<!--        <label for="username">Username</label>-->
<!--        <input type="text" name="username" id="username" placeholder="Create a Username" required><br><br>-->
<!--        <label for="fname">First Name</label>-->
<!--        <input type="text" name="fname" id="fname" placeholder="Enter your First Name"required><br><br>-->
<!--        <label for="lname">Last Name</label>-->
<!--        <input type="text" name="lname" id="lname" placeholder="Enter your Last Name"required><br><br>-->
<!--        <label for="email">Email Address</label>-->
<!--        <input type="email" name="email" id="email" placeholder="Enter your E-mail"required><br><br>-->
<!--        <label for="password">Password</label>-->
<!--        <input type="password" name="password" id="password" placeholder="Enter password "required><br><br>-->
<!--        <label for="cpassword">Confirm your Password</label>-->
<!--        <input type="password" name="cpassword" id="cpassword" placeholder="Re-Enter your password"required><br><br>-->
<!--&lt;!&ndash;        <input type="file" id="image" name="image"><br><br>&ndash;&gt;-->
<!--        <button type="submit">Sign Up</button>-->
<!--    </form>-->


{% endblock %}